@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --primary-text:  "Poppins", sans-serif;
     --primary-color: #EF5008; 
     --secoundary-color: #FFFFFF;
     --font1: "Charm", cursive;
     --font2: "Abhaya Libre", serif;
     --back-logo-color: rgba(203, 203, 203, 0.748);
}


#menudemo{
    padding-top: 100px;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.1), rgba(255,255,255,0.1));
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}



/* Section4 */



#section-4{
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

#section4-virdhunagar-logo{
    height: 993px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: absolute;
}



#virudhunagar-logo{
  text-align: center;
  color: var(--back-logo-color);
  font-size: 60px;
  font-family: var(--font2);
  font-weight: 400;
  text-align: center;
}

@media (max-width: 769px){
    #section4-virdhunagar-logo{
        height: 841px;
    }
}

@media (max-width: 426px){
    #section4-virdhunagar-logo{
        height: 748px;
    }

    #virudhunagar-logo{
        font-size: 40px;  
    }

}

@media (max-width: 376px){
    #section4-virdhunagar-logo{
        height: 775px;
    }
}

@media (max-width: 326px){
    #section4-virdhunagar-logo{
        height: 829px;
    }
}

/* Part 1 */


#section-4-menu-1-1{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#section-4-menu-1-1-1{
    width: 650px;
}

#section-4-menu-1-1-1-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#section-4-menu-1-1-1-1-1-h6-1{
    color: var(--secoundary-color);
    font-family: var(--primary-text);
    font-size: 28px;
    font-weight: 500;
}

#section-4-menu-1-1-1-1-2{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#section-4-menu-1-1-1-1-2-h6-1{
    color: var(--secoundary-color);
    font-family: var(--primary-text);
    font-size: 28px;
    font-weight: 500;
}

#section-4-menu-1-1-1-2{
    height: 3px;
    background-color: var(--primary-color);
}

#section-4-menu-1-1-1-3-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#section-4-menu-1-1-1-3-1-2{
    display: flex;
    flex-direction: row;
    gap: 75px;
}

#section-4-menu-1-1-1-3-1-1-p-1{
    color: var(--secoundary-color);
    font-family: var(--primary-text);
    font-size: 22px;
    font-weight: 500;
}

#section-4-menu-1-1-1-3-1-2-p-1{
    color: var(--secoundary-color);
    font-family: var(--primary-text);
    font-size: 22px;
    font-weight: 500;
}


/* Part 2 */

#section-4-menu-1-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#section-4-menu-1-2-2{
    width: 650px;
}

#section-4-menu-1-2-2-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

#section-4-menu-1-2-2-1-2{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#section-4-menu-1-2-2-1-1-h6-1{
    color: var(--secoundary-color);
    font-family: var(--primary-text);
    font-size: 28px;
    font-weight: 500; 
}

#section-4-menu-1-2-2-1-2-h6-1{
    color: var(--secoundary-color);
    font-family: var(--primary-text);
    font-size: 28px;
    font-weight: 500; 
}

#section-4-menu-1-2-2-2{
    height: 3px;
    background-color: var(--primary-color);
}

#section-4-menu-1-2-2-3-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#section-4-menu-1-2-2-3-1-2{
    display: flex;
    flex-direction: row;
    gap: 95px;
}

#section-4-menu-1-2-2-3-1-1-p-1{
    color: var(--secoundary-color);
    font-family: var(--primary-text);
    font-size: 22px;
    font-weight: 500;
}

#section-4-menu-1-2-2-3-1-2-p-1{
    color: var(--secoundary-color);
    font-family: var(--primary-text);
    font-size: 22px;
    font-weight: 500;
}

/* Part 3 */


#section-4-menu-1-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#section-4-menu-1-3-1{
    width: 650px;
}

#section-4-menu-1-3-1-1{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}


#section-4-menu-1-3-1-1-2{
    display: flex;
    flex-direction: row;
}


#section-4-menu-1-3-1-1-1-h6-1{
    color: var(--secoundary-color);
    font-family: var(--primary-text);
    font-size: 28px;
    font-weight: 500;
}

#section-4-menu-1-3-1-1-2-h6-1{
    color: var(--secoundary-color);
    font-family: var(--primary-text);
    font-size: 28px;
    font-weight: 500;
}


#section-4-menu-1-3-1-2{
    height: 3px;
    background-color: var(--primary-color);
}


#section-4-menu-1-3-1-3-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#section-4-menu-1-3-1-3-1-1-p-1{
    color: var(--secoundary-color);
    font-family: var(--primary-text);
    font-size: 22px;
    font-weight: 500;
}


#section-4-menu-1-3-1-3-1-2{
    display: flex;
    flex-direction: row;
}


#section-4-menu-1-3-1-3-1-2-p-1{
    color: var(--secoundary-color);
    font-family: var(--primary-text);
    font-size: 22px;
    font-weight: 500;
    width: 105px;
}


#section-4-menu-1-3-1-3-1-2-p-2{
    color: var(--secoundary-color);
    font-family: var(--primary-text);
    font-size: 22px;
    font-weight: 500;
    width: 50px;
}


@media (max-width: 1023px){



     #section-4-menu-1-1{
    margin-top: 20px;
    }

    #section-4-menu-1-1-1{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #section-4-menu-1-2{
        margin-top: 20px;
        }
    
        #section-4-menu-1-2-2{
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

     #section-4-menu-1-3{
        margin-top: 20px;
     }

    #section-4-menu-1-3-1{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #section-4-menu-1-1-2{
        display: none;
    }

    #section-4-menu-1-2-1{
        display: none;
    }

    #section-4-menu-1-3-2{
        display: none;
    }
}


@media (max-width: 426px){

    /* Part 1 */

    #section-4-menu-1-1-1-1-1-h6-1{
        font-size: 22px;  
    }

    #section-4-menu-1-1-1-1-2-h6-1{
        font-size: 22px; 
    }

    #section-4-menu-1-1-1-3-1-1-p-1{
        font-size: 18px;
    }

    #section-4-menu-1-1-1-3-1-2-p-1{
        font-size: 18px;
    }

    /* Part 2 */
    #section-4-menu-1-2-2-1-1-h6-1{
        font-size: 22px; 
    }

    #section-4-menu-1-2-2-1-2-h6-1{
        font-size: 22px; 
    }

    #section-4-menu-1-2-2-3-1-1-p-1{
        font-size: 18px;
    }

    #section-4-menu-1-2-2-3-1-2{
        gap: 75px;
    }

    #section-4-menu-1-2-2-3-1-2-p-1{
        font-size: 18px;
    }

    /* Part 3 */

    #section-4-menu-1-3-1-1-1-h6-1{
        font-size: 22px;
    }

    #section-4-menu-1-3-1-1-2-h6-1{
        font-size: 22px;
    }

    #section-4-menu-1-3-1-3-1-1-p-1{
        font-size: 18px;
    }

    #section-4-menu-1-3-1-3-1-2-p-1{
        font-size: 18px;
        width: 75px;
    }

    #section-4-menu-1-3-1-3-1-2-p-2{
        font-size: 18px;
    }
}